*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif, Arial;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    color: white;
    border: none;
    scroll-behavior: smooth;
}

/* html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */

:root {
    --bg: white;
    --accent: rgb(14, 124, 223);
    --accent-2: black;
    --accent-rgb-vals: 14, 124, 223;
    --side-bar: rgba(255, 255, 255, 0.5);
    --box-color: hsl(0, 0%, 100%);
    --header-height: 80px;
}

.icon {
    width: 40px;
    height: 40px;
    color: black;
}

body {
    display: grid;
    place-items: center;
    padding-top: var(--header-height);
    max-width: 1300px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background: var(--bg);
    overflow-x: hidden;
}

section {
    font-size: 1.2rem;
    padding: 1rem;
}

section h1 {
    color: var(--accent-2);
    font-size: 2rem;
    font-weight: 600;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);
    background: white;
    border-bottom: solid 3px black;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    margin-left: 1rem;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    gap: 1rem;
    margin-right: 1rem;
}

header nav h3 {
    color: black;
}

.hamburger-menu {
    display: none;
    margin-right: 1rem;
    pointer-events: none;
}

/* Intro Section Starts Here */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    min-height: 200px;
    height: 30vh;
    /* overflow: hidden; */
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem);
    box-shadow: 0 0 8px 8px var(--bg) inset;
}

.intro img {
    position: absolute;
    inset: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    filter: brightness(0.3) hue-rotate(0deg);
    z-index: -1;
}

.intro h1 {
    font-weight: 600;
    text-transform: uppercase;
}

.affirmation-1 {
    color: white;
    align-self: baseline;
}

.affirmation-2 {
    color: var(--accent);
    align-self: center;
    font-size: clamp(1.5rem, 8vw, 5rem);
}

.affirmation-3 {
    color: white;
    align-self: end;
}

/* Main-graphic section here */

.main-graphic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: var(--bg);
    z-index: 1;
}

.main-graphic q {
    position: relative;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 1.2rem);
    padding: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.main-graphic q::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
    background: var(--accent);
    z-index: -1;
}

.main-graphic h1 {
    height: fit-content;
    font-size: clamp(2rem, 3vw, 2rem);
    padding-bottom: 1rem;
    text-align: left;
}

/* Products Section starts here */

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 360px;
    background: rgb(219, 219, 219);
    border-radius: 1rem;
}

.grid-item img {
    height: 80%;
    object-fit: cover;
}

.products-grid .person-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

.products-grid .name {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

.products-grid .title, .description, button {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.products-grid .name {
    color: black;
    font-weight: 600;
}

.products-grid .title {
    color: gray;
}

.products-grid button {
    margin: 0.5rem 0rem;
    padding: 0.25rem;
    width: 100%;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background: var(--accent);
}

/* .grid-item button:hover {
    background: white;
    color: white;
    border: solid 2px var(--accent);
    transition: color, background 0.1s linear;
} */

/* Footer Starts Here */

footer {
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-weight: 600;
}

footer p,
.social-icon {
    color: black;
}

footer .logo {
    width: 150px;
    height: 30px;
    margin: 0rem 1rem;
}

footer .logo img {
    width: 150px;
}

.social-icon {
    margin: 0rem 0.5rem;
    width: 30px;
    height: 30px;
}

@media screen and (max-width:720px) {

    /* Header Section */

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0rem;
        margin: 0rem;
        position: absolute;
        top: var(--header-height);
        right: -500px;
        width: 50vw;
        height: calc(100vh - var(--header-height));
        background: var(--side-bar);
        transition: transform 0.3s linear;
        backdrop-filter: blur(10px);
    }

    header nav h3 {
        position: relative;
        cursor: pointer;
        width: 100%;
        margin: 0rem;
        padding: 1rem 1rem;
        border-bottom: solid 1px black;
        overflow: hidden;
    }

    header nav h3::after {
        content: '';
        position: absolute;
        inset: 0px;
        width: 100%;
        left: -110%;
        background: linear-gradient(90deg, rgba(var(--accent-rgb-vals), 0.3), rgba(255, 255, 255, 0.3));
        transition: left 0.1s linear;
    }

    header nav h3:hover::after {
        left: 0%;
    }

    .hamburger-menu {
        display: inline;
        pointer-events: all;
        cursor: pointer;
    }

    .active {
        transform: translateX(-500px);
    }

    /* Main-Graphic Section */

    .main-graphic-grid {
        align-items: baseline;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.5fr;
        gap: 0rem;
    }

    .main-graphic-grid img {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .graphic-item-1 {
        grid-column: 1;
        grid-row: 2;
    }

    .graphic-item-2 {
        grid-column: 3;
        grid-row: 2;
    }

    .graphic-item-3 {
        grid-column: 2;
        grid-row: 2;
    }

    .graphic-item-3 button {
        width: 300%;
    }

    .graphic-item-4 {
        display: none;
    }

    .graphic-item-5 {
        display: none;
    }

    /* Products Section */

    .products-grid {
        grid-template-columns: 1fr 1fr;
    }
}